<div class="container-fluid">

  <div class="row justify-content-center text-center mt-4">
    <div class="col-12 col-md-8 col-lg-6">
      
      <img src="{{ site.author.image }}" alt="{{ site.author.name }}" class="rounded-circle shadow-sm wow animated zoomIn mb-4" data-wow-delay=".1s" style="width: 180px; height: 180px; object-fit: cover;">  

      <h1 class="mb-3"><strong>About Me</strong></h1>

      <p class="text-muted wow animated slideInUp mb-4" style="line-height: 1.8;" data-wow-delay=".15s">
        Hi I am <strong>{{ site.author.name }}</strong> :wave:<br>
        Bilingual in English and Spanish. Brings a combination of certifications and a year of experience in IT Support, along with customer service. Offers hands-on expertise in troubleshooting and resolving technical issues for Windows and Android platforms.
      </p>

    </div>
  </div>

  <div class="row justify-content-center mt-2">
    <div class="col-12 col-md-10 col-lg-8"> 
      {% include about/timeline.html %}
    </div>
  </div>

</div>
